.main {
    width: auto;
    height: auto;
}

    .main h1 {
        background-image: radial-gradient(circle, gray, black, white);
        color: white;
        padding: 20px;
        text-align: center;
        margin: 0;
    }

.first {
    width: auto;
}

    .first p {
        margin-top: 45px;
        margin-left: 25px;
        color: black;
        font-size: x-large;
    }

    .first .first_border {
        border: initial;
        margin: 15px;
        padding: 25px;
        background-color: white;
        width: auto;
    }

        .first .first_border .first_table {
            border-spacing: 0;
            width: 100%;
            border: 5px solid #ddd;
        }



.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
}

.cancel {
    background-color: #f44336;
}
    /* Red */
    .cancel:hover {
        background: #da190b;
    }

.edit {
    background-color: #28762e;
    vertical-align: central;
}
    /* Green */
    .edit:hover {
        background-color: #46a049;
    }

.add {
    background-color: #4a82a4;
}
    /* Blue */
    .add:hover {
        background: #0b7dda;
    }

.detail {
    background-color: lightslategrey;
    color: black;
}

    .detail:hover {
        background: #ffe700;
    }

.other {
    background-color: orange;
    padding-top: 8px;
    padding-bottom: 8px;
}

    .other:hover {
        background: #ff7b00;
    }

.second {
    width: 100%;
    height: auto;
}

    .second p {
        margin-top: 80px;
        margin-left: 25px;
        color: black;
        font-size: x-large
    }

    .second .second_border {
        border: initial;
        margin: 15px;
        padding: 25px;
        background-color: white;
        width: auto;
    }

        .second .second_border .second_table {
            border-spacing: 0;
            width: 100%;
            border: 5px solid #ddd;
        }

/*th, td {
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}*/


.first_table th {
    text-align: left;
    padding: 15px;
}

.first_table td {
    text-align: left;
    padding: 15px;
}

.first_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.second_table th {
    text-align: left;
    padding: 15px;
}

.second_table td {
    text-align: left;
    padding: 15px;
}

.second_table tr:nth-child(even) {
    background-color: #f2f2f2;
}
